name: Deploy website
on:
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Lint code
        run: npm run lint
      - name: Test code
        run: npm run test
  build:
    needs: test
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish.outputs.file-maroto }}
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Build website
        run: npm run build
      - name: Publish JS Filename
        id: publish
        run: find dis/assets/*.js -type f -execdir echo 'file-maroto={}' >> $GITHUB_OUTPUT ';'
        # run: find dis/assets/*.js -type f -execdir echo '::set-output name=file-maroto::{}' ';'
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: |
            dist
          # package.json
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Get Build Artifact
        uses: actions/download-artifact@v5
        with:
          name: dist-files
      - name: Output Content
        run: ls
      - name: Output filename
        run: echo "${{ needs.build.outputs.script-file}}"
      - name: Deploy
        run: echo "Deploying..."
